<div class="body" style="margin-bottom: -80px;">
  <div class="container" >
    <div class="row" >


      <div class="col-12 col-xl-4">

        <div class="card mb-3 pb-3">
          <div class="card-body text-center" style="padding: 0px">
            <div class="demi-back">
            </div>
            <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                 alt="Kathy Davis"
                 class="img-fluid rounded-circle mb-2 "
                 width="128" height="128"
                 style="margin-top: -70px">
            <h4 class="card-title mb-0 mt-2">{{this.user.nom | uppercase}} {{this.user.prenom}}</h4>
            <p class="mb-3 mt-3 " > <span class="student"  >Professor of {{this.user.matiere.nomMat}}</span></p>
            <div class="col-6 offset-3">
              <form>

                <button type="button" class="btnn" (click)="Logout()">
                  <i class="material-icons">
                    power_settings_new
                  </i>
                  <span  style="position: relative ; top:-6px ; font-weight: 500">
                      LogOut
                    </span>
                </button>

              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-6 offset-1">
        <div class="card mb-3 pb-3" >
            <h4 class="card-title mb-0 title">Press Here To Insert Mark</h4>

            <div class="col-10 offset-1  mt-4 mb-4 ">
              <button type="button" class="btnn btn  " (click)=diag(user.matiere) style="font-size: large"> Entrer note </button>
            </div>
            <!--<h3>Reclamation:</h3>-->
        </div>
      </div>


      <div class="col-11 mt-4 mb-4" >
        <div class=" container"  style="padding: 0px" >
          <div class="card-body " style="background-color: #fff ;padding: 0px"  >
            <div class="table-responsive" >
              <table class="table" >
                <thead class=" text-primary" >
                <th class="th">
                  Examen or Ds
                </th>
                <th class="th">
                  Type
                </th>
                <th class="th">
                  Etudiant
                </th>
                <th class="th">
                  Matiere
                </th>
                <th class="th">
                  Classe
                </th>
                <th class="th">
                  Current note
                </th>
                <th class="th">
                  Expected note
                </th>
                <th class="th">
                  Update
                </th>
                <th class="th">
                  Delete
                </th>



                </thead>
                <tbody>
                <tr *ngFor="let list of listRec">
                  <td class="td">
                    {{list.examenOrDs}}
                  </td  >
                  <td class="td">
                    {{list.type}}
                  </td>
                  <td class="td">
                    {{list.idEtud.nom}}
                  </td>
                  <td class="td">
                    {{list.matiere.nomMat}}
                  </td>
                  <td class="td">
                    {{list.idEtud.idClasse.niveau}} {{list.idEtud.idClasse.amphi}}
                  </td>
                  <td class="td">
                    {{list.note}}
                  </td>
                  <td class="td">
                    {{list.note2}}
                  </td>
                  <td class="td">
                    <button type="button" class="btn btnn" (click)=diag1(list.idEtud.idEtud,user.matiere.idMat) > Modifier note </button>

                  </td >
                  <td class="td">
                    <button mat-icon-button color="primary" (click)="delete(list.idRec )"><mat-icon>delete_outline</mat-icon></button>
                  </td>


                </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>


    </div>



  </div>

</div>














<div class="container ">
  <div class="row profile">


  </div>
</div>

<br>
<br>
