<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a routerLink="AboutUs">
                        About Us
                    </a>
                </li>

                <!--<li>-->
                    <!--<a href="https://www.creative-tim.com/license">-->
                        <!--Licenses-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="#" target="_blank">Majd Yahyaoui </a>.
        </div>
    </div>
</footer>
