.body{
  background-color: #f6f6f6;
  width: 100%;
  min-height: 960px;
}

.claim{
  background-color: #fff;
}

.title{

  margin: 0px;
  padding: 20px;
  background-color: #083358;
  color : #f6f6f6 ;
}

.form-block{
  padding: 40px 50px 40px 50px ;
}

.btnn{
  height: 50px;
  border: none;
  background-color: #083358;
  color: #f6f6f6 ;
  width: 98%;
  border: 1px solid  #083358;
}
.btnn:hover{
  height: 50px;
  background-color:#f6f6f6 ;
  color:  #083358 ;
  font-weight: 500;
  border: 1px solid  #083358;
}

.demi-back{
  margin-top: 0px;
  height: 120px ;
  background-color: #083358;
}

.student{
  font-size: 120%;
  font-weight: 500;
}

.blue{
  color: #083358;
}

.th{
  background-color: #ebebeb;
  color: #083358;
  text-align: center;
}

.td {
  text-align: center;

}
