<div class="card-body">
  <div class="table-responsive">
    <table class="table">
      <thead class="text-primary " style="font-size: large">
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Note
      </th>
      <th>
        Valider
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let list of listEvaluation1"  >
        <td>
          {{list.idEtud.nom}}
        </td>
        <td>
          {{list.idEtud.prenom}}
        </td>
        <td>
          <form>
            <input type="number" [(ngModel)]="noteMdf" name="note">
          </form>
        </td>
        <td>
          <button class="btn btn-success" (click)="updateNote(list)" > valider </button>

        </td>

      </tr>

      </tbody>
    </table>

  </div>
</div>
