    <div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Student User</h4>
                      <!--<p class="card-category"> Here is a subtitle for this table</p>-->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      First Name
                                  </th>
                                  <th>
                                      Last Name
                                  </th>
                                  <th>
                                      Mail address
                                  </th>
                                  <th>
                                      Valide
                                  </th>
                                  <th>
                                      Classe
                                  </th>
                              <th>
                                  Num Tel
                              </th>
                              <th>
                                  Delete
                              </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let list of listEtudiant">
                                      <td>
                                          {{list.prenom}}
                                      </td>
                                      <td>
                                            {{list.nom}}
                                      </td>
                                      <td>
                                            {{list.addMail}}
                                      </td>
                                      <td>
                                          {{list.valide}}
                                      </td>
                                      <td>
                                          {{list.idClasse.niveau}} {{list.idClasse.amphi}}
                                      </td>
                                      <td>
                                           {{list.numTel}}
                                      </td>
                                      <td>
                                          <form>
                                              <button class="btn btn-danger" (click)="deleteEtud(list.idEtud)" type="button" name="delete" >Delete</button>
                                          </form>
                                      </td>
                                  </tr>

                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card ">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Professor User</h4>
                      <!--<p class="card-category"> Here is a subtitle for this table</p>-->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                              <th>
                                  First Name
                              </th>
                              <th>
                                  Last Name
                              </th>
                              <th>
                                  Mail address
                              </th>
                              <th>
                                  Valide
                              </th>
                              <th>
                                  Matiere
                              </th>
                              <th>
                                  Num Tel
                              </th>
                              <th>
                                  Delete
                              </th>
                              </thead>
                              <tbody>
                              <tr *ngFor="let list of listProfs">
                                  <td>
                                      {{list.prenom}}
                                  </td>
                                  <td>
                                      {{list.nom}}
                                  </td>
                                  <td>
                                      {{list.addMail}}
                                  </td>
                                  <td>
                                      {{list.valide}}
                                  </td>
                                  <td>
                                      {{list.matiere.nomMat}}
                                  </td>
                                  <td>
                                      {{list.numTel}}
                                  </td>
                                  <td>
                                      <form>
                                          <button class="btn btn-danger" (click)="deleteProf(list.idProf)" type="button" name="delete" >Delete</button>
                                      </form>
                                  </td>
                              </tr>

                              </tbody>
                          </table>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
